// Place all the styles related to the relations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    padding: 0;
    margin: 0;
  }
.books-container  {
    z-index: 10;
    background: #fff;
    margin-top: 120px
}


.book{
    margin:  10px;             /* デフォルトCSS打ち消し */
    padding:  0;            /* デフォルトCSS打ち消し */
    list-style:  none;      /* デフォルトCSS打ち消し */
    position: sticky;
    border:  solid 1px;     /* 枠線指定 */
    padding: 0 20px;        /* 余白指定 */
    margin-bottom:  20px;   /* 要素同士の空き指定 */


}
.right_cont-inner {

}
header h12 {position: absolute;
    width: 31px;
    height: 22px;
    left: 143px;
    top: 150px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* ボックスの高さと同一 */
    
    text-align: center;
    
    color: #000000;
    }

header h13 {position: absolute;
    width: 50px;
    height: 50px;
    left: 65px;
    top: 150px;
    }

header h14 {position: absolute;
    width: 108px;
    height: 22px;
    left: 60px;
    top: 259px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* ボックスの高さと同一 */
    
    
    color: #000000;}

header h15 {position: absolute;
    width: 30px;
    height: 18px;
    left: 60px;
    top: 300px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;}

header h16 {position: absolute;
    width: 60px;
    height: 18px;
    left: 60px;
    top: 340px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;}

header h17 {position: absolute;
    width: 75px;
    height: 18px;
    left: 60px;
    top: 380px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    }

header h18 {position: fixed;
    width: 116px;
    height: 22px;
    left: 140px;
    top: 178px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* ボックスの高さと同一 */
    
    text-align: center;
    
    color: #AFAFAF;}

header h19 {position: fixed;
    width: 65px;
    height: 22px;
    left: 363px;
    top: 164px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* ボックスの高さと同一 */
    
    text-align: center;
    
    color: #FFFFFF;}

header h20 {position: absolute;
    width: 75px;
    height: 18px;
    left: 60px;
    top: 380px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    }

header h21 {position: absolute;
    width: 75px;
    height: 18px;
    left: 60px;
    top: 380px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    }